.upload-widget{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    ::ng-deep .ant-upload.ant-upload-select.ant-upload-select-picture-card.ng-star-inserted {
        position: relative;
        width: 80px;
        height: 80px;
        background: #eff1f9;
        overflow: hidden;
        border-radius: 50%;
        border: 0px;
        .ant-upload-text{
            display: none;
        }
        span.anticon.upload-icon.anticon-plus.ng-star-inserted{
            border: 1px dashed #2B50AA;
            color: #2B50AA;
            font-size: 18px;
            font-weight: bold;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .ant-upload-picture-card-wrapper{
        width: fit-content;
    }
    h3{
        font-size: 18px;
        padding: 10px 0px;
        padding-inline-start: 15px;
        border-inline-start: 1px solid #ddd;
        margin: 0px;
        margin-inline-start: 15px;
        font-weight: 200;
    }
}
.times-of-work{
    a{
        display: flex;
        align-items: center;
        padding: 0px;
    }
}
.custom-footer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    @media (max-width: 767px) {
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
hr{
    border: 1px solid #ddd;
    border-top: 0px;
    margin: 30px 0px;
}
::ng-deep .ant-select {
    width: 100%;
}
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: 40px;
    border: 1px solid #E9E9F0;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 24px;
}
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
    height: 40px;
}
::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-placeholder,
::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item
{
    display: flex;
    align-items: center;
    font-weight: 300;
}
::ng-deep .ant-select-arrow{
    margin-top: -16px !important;
}
::ng-deep .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    padding: 0 22px;
}
::ng-deep .ant-modal{
    .ant-modal-body{
        padding: 0px;
    }
}
::ng-deep .ant-modal-wrap{
    @media (max-width: 767px) {
        display: inline-block;
    }
}

::ng-deep .times-of-work-sheet{
    width: fit-content !important;
    @media (max-width: 767px) {
        width: 100% !important;
    }
}

.times-of-work-sheet{ 
    ul{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        margin: 15px 0px;
        li{
            display: flex;
            align-items: center; 
            padding: 8px 0px;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            p{
                width: 30vw;
                font-size: 20px;
                font-weight: 500;
                position: relative;
                padding-inline-end: 15px;
                @media (max-width: 767px) {
                    width: 100%;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 3px;
                    inset-inline-end: -6px;
                    background: #ddd;
                    height: 70%;
                    width: 1px;
                }
            }
            span{
                font-size: 16px;
                font-weight: 300;
            }
            p ,span , nz-select{
                margin: 0px 20px;
            }
            ::ng-deep .ant-select-selection-item {
                padding-top: 4px;
            }
            ::ng-deep .ant-select-arrow .anticon:not(.ant-select-suffix){
                position: relative;
                top: 10px;
            }
            ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector{
                margin: 0px !important;
            }
        }
    }
}
.custom-footer-popup{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

::ng-deep .select-company-modal{
    width: 70vw !important;
    .ant-modal-body{
        @media (max-width: 767px) {
            padding: 0px !important;
        }
    }
    .input-widget{
        margin-top: 20px;
        position: relative;
        input{
            padding-inline-start: 50px;
            font-size: 16px;
        }
        .anticon{
            position: absolute;
            top: 23%;
            left: 20px;
            font-size: 22px;
            color: #A0A2A8;
        }
    }
    .footer-widget{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
::ng-deep .user-branches-list-widget{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    .ant-checkbox-wrapper + .ant-checkbox-wrapper{
        margin-left: 0px;
    }
    li{
        width: calc((100% - 54px) / 3);
        margin-inline-end: 27px;
        border-radius: 20px;
        border:1px solid #f1f1f2;
        padding: 18px;
        margin-bottom: 18px;
        align-items: center;
        background: #FBFBFE;
        @media (max-width: 767px) {
            width: calc((100% - 10px) / 2);
            padding: 5px;
            margin-inline-end: 10px;
            margin-bottom: 8px;
        }
        &:nth-child(3n+0){
            margin-inline-end: 0px;
            @media (max-width: 767px) {
                margin-inline-end: 10px;
            }
        }
        &:nth-child(2n+0){
            @media (max-width: 767px) {
                margin-inline-end: 0px;
            }
        }
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin: 0px 12px;
                @media (max-width: 767px) {
                    margin: 0px 5px;
                }
            }
            .user-data{
                display: flex;
                align-items: center;
                p{
                    margin: 0px;
                    font-weight: bold;
                    font-size: 16px;
                }
                span{
                    font-weight: 300;
                    color: #A0A2A8;
                    font-size: 12px;
                }
            }
        .ant-checkbox + span{
            padding: 0px;
        }
        .ant-checkbox-inner{
            width: 22px;
            height: 22px;
            border-radius: 4px;
            top: -3px;
        }
        .ant-checkbox-inner::after{
            left: 27.5%;
        }
        .ant-checkbox:hover::after, .ant-checkbox-wrapper:hover .ant-checkbox::after{
            display: none;
        }
        &.ant-checkbox-wrapper-checked{
            background: #2B50AA;
            .user-data{
                p , span{
                    color: #fff;
                }
            }
            .ant-checkbox-inner{
                background: #FFF;
            }
            .ant-checkbox-inner::after{
                border-color: #2B50AA;
            }
            .ant-checkbox-checked::after{
                border:0px
            }
        }
    }
}