.cards {
    margin-bottom: 46px;
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
    .ant-card{
        @media (max-width: 767px) {
            background: #fff !important;
        } 
    }
}

nz-card {
    border-radius: 20px;
    background: #FBFBFE;
    border: 0px !important;
    height: 100%;
    @media (max-width: 767px) {
        background: #fff;
    }
}

.ant-tag {
    height: 40px;
    border-radius: 20px;
    color: #cce7e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;

    &-success {
        background: #cce7e1;
        color: #00856B;
    }
}

.status-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .numbers {
        display: flex;
        align-items: center;

        img {
            margin-inline-end: 15px;
            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
                margin: 0px;
                margin-bottom: 5px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: start;
            @media (max-width: 767px) {
                align-items: center;
            }

            span {
                color: #2B50AA;
                text-transform: capitalize;
                font-size: 17px;
                opacity: .8;
            }

            label {
                color: #2B50AA;
                text-transform: capitalize;
                font-size: 42px;
            }
        }
    }

    .statics {
        img {
            margin-bottom: 10px;
            @media (max-width: 767px) {
                width: 20px;
                height: 20px;
            }
        }

        h5 {
            letter-spacing: 0px;
            font-size: 14px;
        }

        &.success {
            h5 {
                color: #15B62A;
            }
        }

        &.danger {
            h5 {
                color: #F22525;
            }
        }
    }
}
::ng-deep .ant-card-body{
    @media (max-width: 767px) {
        padding: 10px;
    }
}
::ng-deep .sort-by-modal{
    .custom-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .ant-btn{
            margin: 0px !important;
            margin-top: 20px !important;
            width: 100% !important;
        }
    }
    .ant-modal-body{
        padding: 0px;
    }
}

@media (max-width:767px){
    .page-container{
        padding: 0pt;
        background-color: #F6F8FC;
    }

    .cards{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 0px;
    }

    nz-card{
        padding: 0 !important; 
        display: flex;
        justify-content: center;
        flex-direction: column !important;
        width: 100% !important;
        height: fit-content !important;
        margin-bottom: 15px;    
    }

    .status-card {
        display: flex !important;
        flex-direction: column !important;
        padding: 0 !important;

        .numbers{
           display: flex;
           flex-direction: column;
       
           img{
           width: 35pt;
           height: 35pt;
           
         }
       
         div {
           label{
               font-size: 14pt;
               text-align: center;
             }
             span{
               font-size: 12pt;
               min-height: 50px;
             }
         }
       
       
        }
   }

   
    
}