::ng-deep  .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: 67px;
    border: 1px solid #E9E9F0;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 24px;
}
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
    height: 67px;
}
::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-placeholder,
::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item
{
    display: flex;
    align-items: center;
    font-weight: 300;
}
::ng-deep  .ant-select-arrow{
    margin-top: -16px !important;
}
::ng-deep .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    padding: 0 22px;
}
.custom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ant-select{
    width: 100%;
}
.footer-widget{
    display: flex;
    align-items: start;
    margin-top: 30px;
}
.switcher-widget{
    display: flex;
    align-items: center;
    label{
        font-size: 18px;
        font-weight: 500;
        margin-inline-end: 10px;
    }
    ::ng-deep .ant-switch-checked{
       background:#15B62A !important;
    }
    span{
       color: #15B62A;
       margin-inline-start: 15px;
       font-size: 16px;
       font-weight: 300;
    }
}
::ng-deep  .select-branches.ant-modal{
    width: 600px !important;
    .ant-modal-body{
        padding: 10px 0px;
        margin-bottom: 20px;
    }
    
}
.list-branches {
    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            border-bottom:1px solid #bfcae5;
            padding: 15px 0px;
            &:first-child{
                p{
                    color:#2B50AA;
                    font-size: 16px;
                    font-weight: 500;
                    &:last-child{
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
            label{
                width: 10%;
            }
            p{
                color:#000000;
                font-size: 16px;
                width: 27%;
                margin-bottom: 0px;
                &:nth-child(2){
                    font-weight: 500;
                    font-size: 16px;
                }
                &:last-child{
                    width: 40%;
                    color:#2B50AA;
                    font-size: 14px;
                    font-weight: 200;
                    span{
                        padding-inline-end: 5px;
                    }
                }
            }

        }
    }
}