<div class="header" nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col class="flex-start">
        <div class="title-logo">
            <img width="29px" height="29px" src="/assets/svg/login/vuesax-bold-car-white.svg" />
        </div>
        <h2>Smart Valet</h2>
    </div>
    <div nz-col nzXl="12" class="flex-start">
        <nz-input-group class="search" [nzPrefix]="prefixTemplateSearch">
            <input type="text" nz-input />
        </nz-input-group>
        <ng-template #prefixTemplateSearch>
            <span nz-icon nzType="search"></span>
        </ng-template>
        <span nz-icon nzType="filter"></span>
    </div>
    <div nz-col class="flex-end">
        <div class="notification">
            <img width="28px" height="28px" (click)="openNotifications()" src="/assets/svg/header/vuesax-bold-notification.svg" />
        </div>
        <div class="profile" (click)="openProfile()">
            <img width="35px" height="35px"
                src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png">
            <span>Heba Hasan</span>
            <span nz-icon nzType="caret-down" nzTheme="outline"></span>
        </div>
    </div>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="MY PROFILE" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzClassName="profile-modal">
    <ng-container *nzModalContent>
        <img src="https://placehold.co/600x400" alt="">
        <h3 class="name">Heba Hasan</h3>
        <p>Heba@Yahoo.Com</p>
        <p>Admin</p>
    </ng-container>
    <div *nzModalFooter class="custom-footer">
        <button nz-button nzType="primary">Change Password</button>
        <button nz-button nzType="text">Show Company Branch Profile</button>
    </div>
</nz-modal>