:host {
  text-align: center;
}

nz-header {
  background: #fff;
  height: 120px;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #fff;
}

nz-content {
  height: 100vh;
  background: #eff4fa;
  border-radius: 20px;
  margin: 0 20px 20px 0
}

nz-layout {
  margin-bottom: 48px;
  background: none !important;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}