:host {
  text-align: center;
}

nz-header {
  background: #fff;
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 1;
  @media screen and (max-width: 768px) {
    height: 60px;
    background: #2B50AA;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
  }
}

nz-sider {
  background: #fff;
  position: fixed;
  top: 120px;
  overflow: auto;
}

nz-content {
  background: #eff4fa;
  border-radius: 20px;
  margin: 120px 20px 20px 140px;
}

nz-layout {
  min-height: 100vh;
  margin-bottom: 48px;
  background: none !important;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}