<div class="page-container">
    <div class="widget">
        <div class="widget-header">
            <p class="widget-title">
                <span class="left-circle" nz-icon nzType="left-circle" nzTheme="outline"></span>
                Notifications
            </p>
            <div class="filters">
                <button nz-button nzType="default" nzSize="large" (click)="addNewNotification()" nzShape="round"> <span
                        nz-icon nzType="plus-circle"></span> Add New Notification </button>
            </div>
        </div>
        <div class="widget-notification">
            <div nz-row [nzGutter]="40" class="cards">
                <ul nz-col [nzSpan]="24" class="notification-center">
                    <li>
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Now</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">AHMED : </span>
                            <span class="desc">Has Received A New Order #4456</span>
                        </div>
                    </li>
                    <li>
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Sice Hour</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">OIC : </span>
                            <span class="desc">Has Received A New Order #4456</span>
                        </div>
                    </li>
                    <li>
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Sice 2 Hour</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">AHMED : </span>
                            <span class="desc">Has Received A New Order #4456</span>
                        </div>
                    </li>
                    <li class="read">
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Thursday, 9 Aug 2022, 6:05 PM</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">UTQ : </span>
                            <span class="desc">Has Delivered Their Order #34256</span>
                        </div>
                    </li>
                    <li class="read">
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Thursday, 9 Aug 2022, 6:05 PM</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">UTQ : </span>
                            <span class="desc">Has Delivered Their Order #34256</span>
                        </div>
                    </li>
                    <li>
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Sice 2 Hour</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">AHMED : </span>
                            <span class="desc">Has Received A New Order #4456</span>
                        </div>
                    </li>
                    <li class="read">
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Thursday, 9 Aug 2022, 6:05 PM</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">UTQ : </span>
                            <span class="desc">Has Delivered Their Order #34256</span>
                        </div>
                    </li>
                    <li class="read">
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Thursday, 9 Aug 2022, 6:05 PM</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">UTQ : </span>
                            <span class="desc">Has Delivered Their Order #34256</span>
                        </div>
                    </li>
                    <li>
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Sice 2 Hour</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">AHMED : </span>
                            <span class="desc">Has Received A New Order #4456</span>
                        </div>
                    </li>
                    <li class="read">
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Thursday, 9 Aug 2022, 6:05 PM</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">UTQ : </span>
                            <span class="desc">Has Delivered Their Order #34256</span>
                        </div>
                    </li>
                    <li class="read">
                        <div class="clock-icon-for-mobile">
                            <span nz-icon nzType="clock-circle" nzTheme="outline" class="icon"></span>
                            <span class="date">Thursday, 9 Aug 2022, 6:05 PM</span>
                        </div>
                        <div class="received-details-for-mobile">
                            <span class="title">UTQ : </span>
                            <span class="desc">Has Delivered Their Order #34256</span>
                        </div>
                    </li>
                </ul>
                <div class="mobile mobile-button">
                    <button nz-button nzType="primary" nzSize="large" (click)="addNewNotification()" nzShape="round"> <span>
                        <img src="../../../../assets/svg/add-circle.svg" alt="">
                    </span> Add New Notification </button>
                </div>
                <nz-pagination [nzPageIndex]="1" [nzTotal]="50" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
            </div>
        </div>
    </div>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="ADD NEW NOTIFICATION" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <div class="input-widget">
            <label>Branch</label>
            <nz-select ngModel="lucy" nzPlaceHolder="Branch">
                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                <nz-option nzValue="disabled" nzLabel="Disabled"></nz-option>
            </nz-select>
        </div>
        <div class="input-widget" nz-col [nzSpan]="24">
            <label>Text</label>
            <textarea rows="5" nz-input placeholder="Write your notification here"></textarea>
        </div>
    </ng-container>
    <div *nzModalFooter class="custom-footer">
        <button nz-button nzType="primary">Send</button>
    </div>
</nz-modal>