.notification-center{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    li{
        height: 55px;
        background: #EEEEFD;
        border-radius: 20px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0px 30px;
        width: 100%;
        padding-top: 3px;
        font-size: 16px;
        .anticon.icon{
            color: #2B50AA;
            margin-inline-end: 10px;
            padding-bottom: 5px;
        }
        .desc{
            font-weight: 200;
            margin-inline-start: 5px;
        }
        .title{
            font-weight: bold;
        }
        .date{
            font-size: 15px;
            font-weight: 300;
            position: relative;
            margin-inline-end: 20px;
            color: #2B50AA;


            &:after{
                content: "";
                position: absolute;
                height: 75%;
                width: 1px;
                background: #2B50AA;
                top: 0px;
                inset-inline-end: -10px;
                opacity: 0.3;
            }
        }
        &.read{
            background: #fbfbfe;
            .anticon.icon{
                color: #A0A2A8;
            }
            .date{
                color:#A0A2A8;

                &:after{
                    color:#A0A2A8;
                } 
            }
        }
    }
}
::ng-deep .ant-pagination{
    padding-inline-start: 30px;
    margin: 20px 0px;
    position: relative;
    margin: 0px;
    padding: 15px 0px;
    padding-bottom: 25px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    .ant-pagination-item{
        a{
            color: #2B50AA;
            font-size: 14px;
            line-height: 24px;
            padding: 0px;
        }
    }
    .ant-pagination-item-active{
        background:#2B50AA;
        a{
            color: #fff;
        }
    }
    ul{
        li{
            height: 24px;
            width: 20px;
            min-width: 20px;
            border-width: 2px;
            border-color: #2B50AA;
            border-radius: 5px;
            .ant-pagination-options-size-changer{
                position: absolute;
                left: 30px;
                 top: 12px;
                 .ant-select-selector{
                    border: 2px solid #2B50AA;
                    color: #2B50AA;
                    border-radius: 20px;
                 }
                 .ant-select-selection-item{
                    line-height:30px;
                 }
                 .anticon{
                    color: #2B50AA;
                 }
            }
            button{
                border-width: 2px;
                border-color: #2B50AA;
                border-radius: 5px;
            }
            .anticon{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    
    .ant-pagination-item-link{
        color: #2B50AA;
        border-color: #2B50AA;
        height: 24px;
            width: 20px;
            min-width: 20px;
            border-width: 2px;
            border-color: #2B50AA;
            border-radius: 5px;
    }
}
.ant-select {
    width: 100%;
    
}
::ng-deep .ant-modal-body .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: 67px;
    border: 1px solid #E9E9F0;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 24px;
}
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
    height: 67px;
}
::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-placeholder,
::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item
{
    display: flex;
    align-items: center;
    font-weight: 300;
}
::ng-deep .ant-modal-body .ant-select-arrow{
    margin-top: -16px !important;
}
::ng-deep .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    padding: 0 22px;
}
.custom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget .widget-body .ant-btn-round.ant-btn-lg{
    display: none;
}

@media (max-width: 767px) {
    .page-container {
        padding: 0 !important;
    }

    .ant-row .cards {
        background-color: #F6F8FC !important;
    }

    .widget {
        border-radius: 0 !important;
        background-color: #F6F8FC;

        .widget-header {
            border-radius: 0pt 0pt 20pt 20pt !important;

            .widget-title {
                text-transform: uppercase;
                color: #FFFFFF;

                .left-circle{
                    padding-right: 12pt;
                }
            }

            .ant-btn.ant-btn-round.ant-btn-lg{
                display: none;
            }
        }

        .widget-body {
            padding: 0 !important;
            background-color: #F6F8FC !important;
        }
    }

    .notification-center{
       padding:  16pt 20pt 323pt  !important;

        li{
            display: flex;
            flex-direction: column-reverse;
            justify-content: start !important;
            align-items: start !important;
            height: 66pt;
            padding: 11pt 13pt 11pt 16pt !important;
            gap: 4pt;

            .read{
                background-color: #FFFFFF;
            }

            .clock-icon-for-mobile {
                display: flex;
                flex-direction: row;
                align-items: end;
            }

            .received-details-for-mobile{
                text-align: left;
            }

            .date:after{
                display: none;
            }
        }
    }

    

    .widget .widget-body .ant-btn-round.ant-btn-lg{
        color: #fff;
        font-size: 15pt !important;
        display: flex;
        align-items: center;
        margin: auto;
        background:#2B50AA;
        margin: 0 auto 34pt;
        width: 216pt;
        height: 48pt;
        img{
            width: 24pt !important;
            height: 24pt !important;
            margin-right: 10pt;
        }
    }
    

    .ant-pagination{
        display: none;
    }
}