<div class="page-container">
    <div class="custom-table">
        <div class="table-header">
            <h2>
                <span nz-icon nzType="left-circle" nzTheme="outline"></span>
                Order No.#1000 Details
            </h2>
            <div class="filters">
                <nz-select ngModel="lucy" class="status" nzPlaceHolder="Car Parked By Employee">
                    <nz-option nzValue="jack" nzLabel="Car Parked By Employee"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Car Requested By Customer"></nz-option>
                  </nz-select>
                <span class="time">
                    <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
                    <span> 2 Dec 2023</span>
                </span>
            </div>
        </div>
        <div class="content">
            <nz-card>
                <div class="custom-card desktop">
                    <h2 class="custom-title">Status.</h2>
                    <nz-steps>
                        <nz-step class="step1" nzTitle="Pending" nzDescription="At 03:05 Pm"
                            [nzIcon]="iconTemplate"></nz-step>
                        <nz-step class="step2" nzTitle="Car Parked By Employee" nzDescription="At 03:15 Pm"
                            [nzIcon]="iconTemplate"></nz-step>
                        <nz-step class="step3" nzTitle="Car Requested By Customer" nzDescription="At 06:45 Pm"
                            [nzIcon]="iconTemplate"></nz-step>
                        <nz-step class="step4" nzTitle="Car Ready By Employee" [nzIcon]="iconTemplate"></nz-step>
                        <nz-step class="step5" nzTitle="Car Delivered By Employee" [nzIcon]="iconTemplate"></nz-step>
                        <ng-template #iconTemplate><span class="dot"></span></ng-template>
                    </nz-steps>
                </div>
                <div nz-row class="details" [nzGutter]="40">
                    <div nz-col nzXs="24" nzSm="24" nzMd="16">
                        <div class="collapese">
                            <nz-collapse nzExpandIconPosition="right">
                                <nz-collapse-panel [nzHeader]="'Order Info'" [nzActive]="true">
                                    <div>
                                        <ul>
                                            <li>
                                                <p>Check In</p>
                                                <h3>03:00 Pm</h3>
                                            </li>
                                            <li>
                                                <p>Check Out</p>
                                                <h3>07:00 Pm</h3>
                                            </li>
                                            <li>
                                                <p>Waiting Hours</p>
                                                <h3>04:00</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </nz-collapse-panel>
                            </nz-collapse>
                            <nz-collapse nzExpandIconPosition="right">
                                <nz-collapse-panel [nzHeader]="'Note'" [nzActive]="true">
                                    <div class="note">
                                        <p>Lorem Ipsum. "Neque Porro Quisquam Est Qucxsi Ccvcvcx Dolorem Red Flag</p>
                                    </div>
                                </nz-collapse-panel>
                            </nz-collapse>
                            <nz-collapse nzExpandIconPosition="right">
                                <nz-collapse-panel [nzHeader]="'Order Info'" [nzActive]="true">
                                    <div>
                                        <ul>
                                            <li>
                                                <p>Car Brand</p>
                                                <h3>BMW</h3>
                                            </li>
                                            <li>
                                                <p>Car Modal</p>
                                                <h3>M5</h3>
                                            </li>
                                            <li>
                                                <p>Car Plate</p>
                                                <h3>P 325 CC</h3>
                                            </li>
                                            <li>
                                                <p>Car Location</p>
                                                <h3>Aad Bin Obada, Al-S ,..</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </nz-collapse-panel>
                            </nz-collapse>
                            <nz-collapse nzExpandIconPosition="right">
                                <nz-collapse-panel [nzHeader]="'Customer Info'" [nzActive]="true">
                                    <div>
                                        <ul>
                                            <li>
                                                <p>Customer Name</p>
                                                <h3>Heba Hasan</h3>
                                            </li>
                                            <li>
                                                <p>Customer Phone Number</p>
                                                <h3>+966 282 2148 524</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </nz-collapse-panel>
                            </nz-collapse>
                            <nz-collapse nzExpandIconPosition="right">
                                <nz-collapse-panel [nzHeader]="'Company Info'" [nzActive]="true">
                                    <div>
                                        <ul>
                                            <li>
                                                <p>Company / Branch Name</p>
                                                <h3>Ahmed / Ahmed 2</h3>
                                            </li>
                                            <li>
                                                <p>Branch Phone</p>
                                                <h3>+966 242 2148 999</h3>
                                            </li>
                                            <li>
                                                <p>Branch Location</p>
                                                <h3>Aad Bin Obada, Al-S ,..</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </nz-collapse-panel>
                            </nz-collapse>
                        </div>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzMd="8">
                        <nz-space nzDirection="vertical">
                            <div *nzSpaceItem class="custom-card payment-info">
                                <div>
                                    <h2 class="custom-title">Payments Info .</h2>
                                    <div nz-row nzJustify="space-between">
                                        <div nz-col>
                                            <p>Price</p>
                                        </div>
                                        <div nz-col>30 SAR</div>
                                    </div>
                                    <div nz-row nzJustify="space-between" class="br-bottom">
                                        <div nz-col>
                                            <p>Service Tax</p>
                                        </div>
                                        <div nz-col>10 SAR</div>
                                    </div>
                                    <div nz-row nzJustify="space-between" class="total-price">
                                        <div nz-col>
                                            <p>Total Price</p>
                                        </div>
                                        <div nz-col>40 SAR</div>
                                    </div>
                                </div>
                            </div>

                            <div *nzSpaceItem class="custom-card">
                                <div class="payment-info payment-info2">
                                    <div nz-row nzJustify="space-between">
                                        <p>Payment Method</p>
                                        <p>My Wallet</p>
                                    </div>
                                    <div nz-row nzJustify="space-between">
                                        <p>Date</p>
                                        <p>2 Dec 2023 | 10 : 00 Am</p>
                                    </div>
                                    <div nz-row nzJustify="space-between">
                                        <p>Transaction ID</p>
                                        <p>623621123</p>
                                    </div>
                                    <div nz-row nzJustify="space-between">
                                        <p>Status</p>
                                        <nz-tag nzColor="success" (click)="openPaymentStatus()">Paid</nz-tag>
                                    </div>
                                </div>
                            </div>
                        </nz-space>
                        <div class="widget-footer">
                            <button nz-button nzType="primary" nzSize="large" nzShape="round" class="submit-button" (click)="openQRCodeModal()">View QR Code</button>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="VIEW QR CODE" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzClassName="qr-code">
        <ng-container *nzModalContent>
            <p>Scan QR Code</p>
            <img src="https://placehold.co/600x400" alt="">
        </ng-container>
        <div *nzModalFooter class="custom-footer">
            <button nz-button nzType="primary" disabled>Activation</button>
            <button nz-button nzType="primary">Deactivation</button>
        </div>
    </nz-modal>

    <nz-modal [(nzVisible)]="openPaymentStatusFlag" nzTitle="PAYMENT STATUS" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzClassName="payment-status-modal">
        <ng-container *nzModalContent>
            <nz-radio-group>
                <label nz-radio nzValue="A" class="parent-radio success">Paid</label>
                <nz-radio-group class="inside-radio-group">
                    <label nz-radio nzValue="B" [nzDisabled]="true">Cash</label>
                    <label nz-radio nzValue="C">Through The Restaurant</label>
                    <label nz-radio nzValue="D">Through The Hotel</label>
                  </nz-radio-group>
                <label nz-radio nzValue="D" class="parent-radio danger">Unpaid</label>
              </nz-radio-group>
        </ng-container>
        <div *nzModalFooter class="custom-footer">
            <button nz-button nzType="primary">Submit</button>
        </div>
    </nz-modal>