.custom-table .table-header h2{
    font-weight: 200 !important;
    span{
        padding-inline-end: 5px !important;
    }
    @media (max-width:768px) {
        margin-bottom: 5px;
    }
}
.custom-table .table-header{
    @media (max-width:768px) {
        flex-direction: column;
    }
}
.filters {
    ::ng-deep .ant-select-selector  {
        background: rgb(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 5px 12px;
        color: #fff;
        width: 200px;
        border:0px;
        .ant-select-selection-item , .ant-select-selection-placeholder{
            position: relative;
            top: -2px;
            color:#fff;
        }

        label {
            font-weight: 100;
        }

        span {
            font-weight: 500;
        }
    }
    ::ng-deep .ant-select-arrow  .anticon.anticon-down{
        color:#fff !important;
    }

    .time {
        font-weight: 100;
        color: #E9E9F0;

        .anticon-clock-circle {
            padding: 0 3px 0 15px;
        }
    }
}
.widget-footer{
    margin-top: 30px;
    .ant-btn{
        width: 100%;
    }
}

.ant-card {
    border-radius: 0;
    text-align: start;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
}

.ant-steps-item-description {
    color: #A0A2A8;
    font-size: 10px;
}

.content {
    .step1 {

        .dot {
            background-color: #EFB702;
        }

        ::ng-deep .ant-steps-item-title {
            color: #EFB702 !important;
        }
    }

    .step2 {

        .dot {
            background-color: #00B2D5;
        }

        ::ng-deep .ant-steps-item-title {
            color: #00B2D5 !important;
        }
    }

    .step3 {

        .dot {
            background-color: #E67B02;
        }

        ::ng-deep .ant-steps-item-title {
            color: #E67B02 !important;
        }
    }

    .step4 {

        .dot {
            background-color: #A0A2A8;
        }

        ::ng-deep .ant-steps-item-title {
            color: #A0A2A8 !important;
        }
    }

    .step5 {

        .dot {
            background-color: #A0A2A8;
        }

        ::ng-deep .ant-steps-item-title {
            color: #A0A2A8 !important;
        }
    }

    hr {
        border: none;
        border-top: 3px solid #2B50AA;
        width: 25px;
        position: absolute;
        top: 43px;
        left: 38px;
    }

    h2 {
        color: #2B50AA;
    }

    .custom-card {
        background: #FBFBFE;
        border-radius: 20px;
        padding: 24px;
        flex-direction: column;
    }
}
.collapese{
    padding: 0px 24px;
    background-color: #fafafa;
    border-radius: 20px;
    @media (max-width:768px) {
        background-color: transparent;
        padding: 0px;
    }
}

::ng-deep .ant-collapse-header,
::ng-deep .ant-collapse-content {
    background: transparent !important;
}

::ng-deep .ant-collapse .ant-collapse-item .ant-collapse-header {
    padding-inline-start: 35px;
}

// ::ng-deep .ant-collapse .ant-collapse-item .ant-collapse-header::before {
//     width: 25px;
//     height: 3px;
//     top: 40px;
// }

::ng-deep .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-arrow {
    top: 3px;
    padding-inline-start: 9px;
}

::ng-deep .ant-collapse{
    @media (max-width:768px) {
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 20px;

    }
    .ant-collapse-header{
        @media (max-width:768px) {
            padding: 5px 35px !important;
        }
        &:before{
            @media (max-width:768px) {
                top: 16px !important;
            }        
        }
    }
    .ant-collapse-item {
        border-bottom: 1px solid #d9d9d9 !important;
        @media (max-width:768px) {
            border:0px !important;
        }
    }
    .ant-collapse-content-box{
        ul{
            @media (max-width:768px) {
                flex-direction: column !important;
                padding-bottom: 0px !important;
            }
            li{
                @media (max-width:768px) {
                    width: 100%;
                    display: flex;
                    margin: 0px !important;
                    border: 0px !important;
                    margin-bottom: 5px !important;
                }
                
            }
        }
        
    }
    &:last-child{
        .ant-collapse-item {
            border:0px !important;
        }
    }
}

.details {
    padding-top: 20px;
    @media (max-width:768px) {
        padding-top: 0px !important;
    }
    .custom-card{
        padding: 0px 24px !important;
    }
    .payment-info{
        padding: 24px !important;
        p{
            margin: 0px;
        }
    }
    .payment-info2{
        padding: 20px 0px !important;
        margin-top: 15px !important;
        
        nz-tag {
            background: #15B62A;
            color: #fff;
            height: fit-content;
            padding-top: 2px;
        }
        div{
            @media (max-width:768px) {
                padding: 0px !important;
            }
            p {
                margin: 5px 0px;
                font-size: 14px;
                font-weight: 200;
                &:last-child{
                    font-weight: 300;
                }
            }
        }
        
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: start;
        padding-bottom: 25px;
        

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-inline-start: 20px;
            border-inline-end: 1px solid #ddd;
            padding-inline-end: 20px;
            margin-inline-start: 15px;

            p,
            h3 {
                margin: 0px;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }

            h3 {
                font-size: 16px;
                font-weight: bold;
            }

            &:before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #2B50AA;
                border-radius: 50%;
                top: 4px;
                inset-inline-start: 4px;

            }

            &:first-child {
                margin-inline-start: 0px;
            }

            &:last-child {
                padding-inline-end: 0px;
                border: 0px;
            }
        }
    }

    .note p {
        background: #F0F4F9;
        border-radius: 20px;
        padding: 10px 50px 10px 15px;
        width: fit-content;
    }
}

.payment-info {
    .total-price{
        padding-top: 10px !important;
        border-top: 1px solid #d9d9d9 !important;
    }
    .ant-row {
        padding: 5px;
    }
}



::ng-deep .qr-code{
    .ant-modal-body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    p{
        font-weight: 18px;
    }
    img{
        width: 180px;
        height: 180px;  
        object-fit: cover;
    }
    .custom-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ant-btn{
            width: 45%;
            padding: 0px !important;
        }
    }
}
::ng-deep .payment-status-modal{
    .ant-radio-group{
        display: flex;
        flex-direction: column;
    }
    .ant-radio-wrapper.parent-radio{
        border-radius: 20px;
        height: 60px;
        width: 100%;
        background: #FBFBFE;
        border:1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 24px;
        &.success{
            color:#15B62A;
        }
        &.danger{
            color:#F22525;
        }
        .ant-radio-inner{
            position: relative;
            top:-2px
        }
        span{
            font-size: 18px;
            font-weight: bold; 
            position: relative;
            top: 2px;
        }
        .ant-radio-checked::after{
            display: none;
        }
    }
    .ant-radio-group.inside-radio-group{
        padding: 10px 0px;
        .ant-radio-wrapper{
            border-radius: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 4px 24px !important;
            .ant-radio-inner{
                position: relative;
                top: -5px;
            }
        }
        .ant-radio-checked::after{
            display: none;
        }
    }
    .custom-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
