.ant-tag {
    height: 40px;
    border-radius: 20px;
    color: #cce7e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;

    &-success {
        background: #cce7e1;
        color: #00856B;
    }
    &-error {
        background: rgba(243, 73, 73, 0.2);
        color: #F22525;
    }
}
::ng-deep .user-branch-popup.ant-modal{
    width:60% !important;
}
.company-details {
    background: #2B50AA;
    border-radius: 20px;
    overflow: hidden;
    height: 90px;
    padding-inline-start: 30px;
    ul {
        background: #F1F4F9;
        height: 100%;
        padding: 0px;
        list-style-type: none;
        margin: 0px;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            border-inline-end: 1px solid #ddd;
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
                margin-inline-end: 10px;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
            p {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0px;
            }
            span {
                color: #A0A2A8;
                font-size: 15px;
                font-weight: 300;
                .anticon.anticon-eye {
                    color: #2B50AA;
                    margin-inline-start: 10px;
                    position: relative;
                    top: 2px;
                }
                &.active {
                    color: #15B62A;
                    .anticon {
                        color: #15B62A;
                    }
                }
            }
            &:last-child {
                border: 0px;
            }
        }
        .row {
            flex-direction: row;
            align-items: center;
            label {
                background: #F0F4F9;
                border-radius: 20px;
                width: 62px;
                height: 62px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline-end: 10px;
                .anticon {
                    color: #2B50AA;
                    font-size: 24px;
                }
            }
        }
    }
}
.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .edit{
        color:#2B50AA;
        border-color: #2B50AA;
    }
}

.branch-details{
    ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: start;
        padding-bottom: 25px;
        li{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-inline-start: 20px;
            border-inline-end: 1px solid #ddd;
            padding-inline-end: 20px;
            margin-inline-start: 15px;
            p,h3{
                margin: 0px;
            }
            p{
                font-size: 14px;
                font-weight: 300;
            }
            h3{
                font-size: 16px;
                font-weight: bold;
            }
            &:before{
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #2B50AA;
                border-radius: 50%;
                top: 4px;
                inset-inline-start: 4px;

            }
            &:first-child{
                margin-inline-start: 0px;
            }
            &:last-child{
                padding-inline-end: 0px;
                border:0px;
            }
        }
    }
}
.panel-branch-info {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    ul {
        padding: 0px;
    }
     ::ng-deep .ant-btn-text {
        span {
            color: #2B50AA;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .branch-location-widget {
        flex-direction: row;
        align-items: center;
        display: flex;
        margin-inline-start: 15px;
        padding-inline-start: 15px;
        border-inline-start: 1px solid #ddd;
        label {
            background: #F0F4F9;
            border-radius: 20px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline-end: 10px;
            .anticon {
                color: #2B50AA;
                font-size: 24px;
            }
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: start;
            p {
                margin: 0px;
                font-size: 14px;
                font-weight: 300;
            }
            span {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}