.left-circle {
      display: none;
}

.for-mobile{ 
      display: none;
}

@media (min-width:413px) and (max-width: 414px) {

      .ant-table-thead>tr>th,
      .ant-table-tbody>tr>td,
      .ant-table tfoot>tr>th,
      .ant-table tfoot>tr>td {
            padding: 16px 16px !important;
      }

      .no-in-responsive{
            display: none;
      }
}


@media (max-width: 767px) {
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
            padding: 16px 11px;
      }
      .page-container {
            padding: 0 !important;
      }

      .table-header {
            border-radius: 0pt 0pt 20pt 20pt !important;
            display: flex;
            justify-content: space-between;
            align-items: end;

      }

      .custom-table {
            border-radius: 0;
      }


      .left-circle {
            display: inline;
            padding-right: 6pt !important;
      }

      .filters a {
           display: none;
      }

      .table {
            padding-top: 27pt;
      }

      .no-in-responsive{
            display: none;
      }

      .for-mobile{ 
            display: block;
      }

      .icon-for-mobile {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-around !important;
            align-items: center !important;
        }

        th{ 
            text-align: center !important;
        }

        .search-bar { 
              padding: 20pt;

        }
        .search-bar input.ant-input.ng-star-inserted{
            border-radius: 20pt;

        }
        .search-bar input.ant-input.ng-star-inserted::placeholder{
            text-align: start;
}
}