/* You can add global styles to this file, and also import other style files */


/// general CSS
* {
    font-family: Demi !important;
}

.page-container {
    padding: 40px 70px;
    height: 100%;
}


@font-face {
    font-family: Demi;
    src: url(/assets/fonts/URWDIN-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Demi;
    src: url(/assets/fonts/URWDIN-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Demi;
    src: url(/assets/fonts/URWDIN-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Demi;
    src: url(/assets/fonts/URWDIN-Demi.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Demi;
    src: url(/assets/fonts/URWDIN-Regular.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Demi;
    src: url(/assets/fonts/URWDIN-Thin.ttf);
    font-weight: 100;
}

//customize table
.custom-table {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;

    .filters {
        .ant-dropdown-link {
            color: #fff;
            font-size: 18px;
            padding-inline-end: 30px;
        }
    }

    .ant-table-content {
        padding: 0px 30px;
    }

    .table-header {
        background: #2B50AA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        padding: 0px 40px;

        h2 {
            color: #fff;
            margin-bottom: 0px;
            padding-top: 4px;
        }

        .ant-btn.ant-btn-round.ant-btn-lg {
            background: #fff;
            color: #2B50AA;
            padding-top: 8px;
        }
    }

    .ant-table {
        overflow: hidden;
        padding-bottom: 10px;

        .ant-table-row {
            padding: 40px 0px;

            .ant-table-cell {
                font-weight: 400;
                font-size: 14px;
                border-bottom-color: #bfcae4;
            }
        }

        .ant-table-thead {
            .ant-table-cell {
                font-size: 16px;
                background: #fff;
                color: #2B50AA;
                border-bottom-color: #96a7d4;

                &::before {
                    display: none;
                }
            }
        }

    }

    .ant-table-pagination.ant-pagination {
        padding-inline-start: 30px;
        margin: 20px 0px;
        position: relative;
        margin: 0px;
        padding: 15px 0px;
        padding-bottom: 25px;
        background: #fff;

        .ant-pagination-item {
            a {
                color: #2B50AA;
                font-size: 14px;
                line-height: 24px;
                padding: 0px;
            }
        }

        .ant-pagination-item-active {
            background: #2B50AA;

            a {
                color: #fff;
            }
        }

        ul {
            li {
                height: 24px;
                width: 20px;
                min-width: 20px;
                border-width: 2px;
                border-color: #2B50AA;
                border-radius: 5px;

                .ant-pagination-options-size-changer {
                    position: absolute;
                    left: 30px;
                    top: 12px;

                    .ant-select-selector {
                        border: 2px solid #2B50AA;
                        color: #2B50AA;
                        border-radius: 20px;
                    }

                    .ant-select-selection-item {
                        line-height: 30px;
                    }

                    .anticon {
                        color: #2B50AA;
                    }
                }

                button {
                    border-width: 2px;
                    border-color: #2B50AA;
                    border-radius: 5px;
                }

                .anticon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .ant-pagination-item-link {
            color: #2B50AA;
            border-color: #2B50AA;
        }
    }
}

.anticon.anticon-down {
    margin-inline-start: 5px;
}


/// Design for widget
.widget {
    overflow: hidden;
    border-radius: 20px;

    .widget-header {
        background: #2B50AA;
        color: #fff;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;

        .ant-btn.ant-btn-round.ant-btn-lg {
            background: #fff;
            color: #2B50AA;
            padding-top: 8px;
        }

        .widget-title {
            padding-top: 5px;
            margin: 0px;
            font-size: 20px;
            color: #fff;
        }

        .widget-icon {
            margin-inline-end: 7px;
        }
    }

    .widget-body {
        background: #fff;
        padding: 40px;
    }
}

// customize card to be rounded and without border
.ant-card {
    border-radius: 20px;
    border: 0px;

    &.gray {
        background: #fafafa;
    }

    &.white {
        background: #fff;
    }
}

/// custom title
.custom-title {
    color: #2B50AA;
    position: relative;
    display: flex;
    font-size: 18px;
    padding-inline-start: 59px;
    font-weight: 600;

    &:before {
        content: "";
        width: 39px;
        height: 4px;
        border-radius: 10px;
        background: #2B50AA;
        display: flex;
        position: absolute;
        inset-inline-start: 0px;
        top: 10px;
    }
}

// customize input to be rounded 
.input-widget {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    label {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 300;
    }
}

.ant-input {
    height: 55px;
    border: 1px solid #E9E9F0;
    border-radius: 20px;
    font-size: 14px;
    padding: 23px 30px;
    margin-bottom: 24px;
}

/// customize button to be rounded 
.ant-btn-round.ant-btn-primary {
    height: 65px !important;
    border-radius: 20px !important;
    padding: 0px 70px !important;
}