<div nz-row class="page-height">
    <div nz-col [nzSpan]="17" [nzPush]="7" class="right-section">
        <img class="bg" />
        <div class="bg-inner">
            <img class="inner" width="105px" height="105px" src="/assets/svg/login/vuesax-bold-car.svg" />
        </div>
        <h1>Smart Valet</h1>
    </div>
    <div nz-col [nzSpan]="7" [nzPull]="17" class="left-section">
        <div nz-row nzJustify="start" nzAlign="middle">
            <div nz-col>
                <div class="title-logo">
                    <img width="29px" height="29px" src="/assets/svg/login/vuesax-bold-car-white.svg" />
                </div>
            </div>
            <div nz-col>
                <h2>Smart Valet</h2>
            </div>
        </div>
        <div nz-row nzJustify="start">
            <h1>Forget Password?</h1>
        </div>
        <div nz-row nzJustify="start" class="hint">
            <p>Please Fill In Your Email Or Mobile Number To Send You The Verification Code</p>
        </div>
        <div nz-row nzJustify="start">
            <form nz-form class="login-form">
                <nz-form-item>
                    <nz-form-label [nzSm]="24">Email Or Mobile Number</nz-form-label>
                    <nz-form-control>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="Email or Mobile Number" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div nz-row class="login-form-button ">
                    <a [routerLink]="['/auth/reset-password']">
                        <button nz-button [nzType]="'primary'">Send</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>